body{font-family:PingFangSC-Medium,PingFang SC,-apple-system,BlinkMacSystemFont,"Segoe UI",Microsoft JhengHei,Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}
body,html{background:#fff}
body.reside{overflow-y:hidden}
.common-space{height:150px;clear:both}
a{color:#9b9b9b}
a:hover{text-decoration:none}
*,::after,::before{box-sizing:border-box}
img{vertical-align:middle;border-style:none}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
.text-center{text-align:center!important}
body,h1,h2,h3,h4,h5,h6,html,p{margin:0;padding:0}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.col-6{position:relative;width:100%;padding-right:15px;padding-left:15px}
.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.list-group-item{position:relative;display:block;padding:.75rem 1.25rem;margin-bottom:-1px;background-color:#fff;border:1px solid hsla(0,0%,0%,.125)}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.align-items-center{-ms-flex-align:center!important;align-items:center!important}
.list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}
.mr-2,.mx-2{margin-right:.5rem!important}
.justify-content-center{-ms-flex-pack:center!important;justify-content:center!important}
.btn{display:inline-block;font-weight:400;color:#22262a;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:hsla(0,0%,0%,0);border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.btn-group-lg>.btn,.btn-lg{padding:.5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:.3rem}
.btn-block{display:block;width:100%}
.ml-auto,.mx-auto{margin-left:auto!important}
.container{max-width:793px}
.header{padding:20px 10.83%;margin-bottom:52px}
.title_wrap{background:rgba(255,255,255,1);box-shadow:0 11px 31px -12px rgba(181,181,181,.16)}
.title_box{height:160px;position:relative;margin-bottom:32px;background-image:url(../images/bg_r.png),url(../images/bg_l.png);background-position:0 bottom,right 0 bottom;background-repeat:no-repeat;background-size:auto,auto}
.index-title{font-size:20px;font-weight:500;color:rgba(79,79,79,1);line-height:28px;letter-spacing:4px;margin-bottom:0;padding-top:16px}
.index_small{font-size:12px;font-weight:400;color:rgba(242,149,0,1);line-height:15px;margin:10px auto}
.list-title{font-size:13px;font-weight:400;color:rgba(107,107,107,1);line-height:18px;margin-bottom:0}
.list-body{font-size:13px;font-family:PingFangTC-Regular,PingFangTC;font-weight:400;color:rgba(178,178,178,1);line-height:18px}
.m_body{padding:15px;background:#fbfbfb;text-align:center}
.m_body .letd{font-size:12px;font-weight:400;color:rgba(100,155,28,1);line-height:17px}
.m_body .txt{font-size:18px;font-weight:500;color:rgba(107,107,107,1);line-height:22px}
.i-title{font-size:14px;font-weight:400;color:#888;line-height:20px;letter-spacing:2px;margin:33px auto}
.i-title:after,.i-title:before{width:32px;height:1px;background:rgba(210,210,210,1);content:"";display:block;-ms-flex-item-align:center!important;align-self:center!important;margin:0 17px}
i-title:after{width:32px;height:1px;background:rgba(210,210,210,1)}
.list_wrap{background:rgba(255,255,255,1);border-radius:2px;box-shadow:0 1px 0 0 rgba(245,245,245,1);margin-top:16px}
.array_wrap{background:#fbfbfb;border-radius:2px;margin-top:0}
.list-group-item{border:none;padding-top:1.1rem;padding-bottom:1.1rem}
.array_wrap.list_wrap{box-shadow:none}
.array_wrap .list-group-item{border:none;border-bottom:.09rem dashed #d2d2d2;border-radius:0;background-color:transparent;padding-left:0;padding-right:0}
.list-name{font-size:14px;font-weight:400;color:rgba(79,79,79,1);line-height:20px}
.array_wrap .array{font-size:18px;color:rgba(79,79,79,1);line-height:22px}
.array_wrap .txt{font-size:14px;font-weight:300;color:rgba(136,136,136,1);line-height:20px}
.array_wrap .array{width:60px;display:block;text-align:center}
.array_wrap .list-item .array:before{background-position:center 6px;background-size:contain;background-repeat:no-repeat;display:block;content:"";width:60px;height:60px;position:absolute;height:100%;top:0;bottom:0}
.array_wrap .list-item{padding:0 25px}
.array_wrap .list-item:nth-child(1) .array:before{background-position:center;background-image:url(../images/icon_first.png)}
.array_wrap .list-item:nth-child(2) .array:before{background-image:url(../images/icon_two.png)}
.array_wrap .list-item:nth-child(3) .array:before{background-image:url(../images/icon_three.png)}
.array_wrap .list-item:last-child .list-group-item{border-bottom:none}
.btn-anniu{background:rgba(242,149,0,1);border-radius:2px;font-size:15px;font-weight:500;color:rgba(255,255,255,1);line-height:21px;margin:40px auto}
@media (max-width:750px){.header{margin-bottom:4.26vw;height:11.73vw;padding:3.2vw 5.333vw;text-align:right}
.header img{height:5.066vw}
.title_box{padding-left:8.53vw;padding-right:8.53vw;margin-bottom:4.266vw}
.list_wrap{margin-top:4.266vw;margin-bottom:4.266vw}
.list-group-item{border:none;padding-top:5.6vw;padding-bottom:5.6vw}
.i-title{padding-top:4.266vw;padding-bottom:4.266vw}
.array_wrap.list_wrap{padding:0;margin:0}
.btn-anniu{margin:10.66vw 0}
}
